{{/* Display author list. */}}

{{- $authors := .Params.authors -}}

{{ if $authors }}
  {{- if not (reflect.IsSlice $authors) -}}
    {{- $authors = slice $authors -}}
  {{- end -}}

  {{ range $index, $raw := $authors }}
    {{- $slug := $raw | urlize -}}
    {{- $profile := partial "functions/get_author_profile" (dict "slug" $slug "title" $raw) -}}
    {{- $termPage := site.GetPage (printf "/authors/%s" $slug) -}}
    {{- $display := $profile.title | default $raw -}}

    {{- $highlight_name := eq $slug "me" -}}

    {{- if gt $index 0 }}, {{ end -}}
    <span {{ if $highlight_name }}class="font-bold"{{end}}>