/* Make education degree titles slightly smaller */
.resume-biography .group p.text-xl {
  font-size: 1.15rem;
  line-height: 1.25;
}
/* Wider Research page */
#research-content .max-w-prose {
  max-width: 60rem !important;
}

#research-content .prose {
  width: 100%;
}